<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="app.pergamen.students">
    <!-- Allow HyperIsland-ToolKit (minSdk 26) in a minSdk-24 app.
         HyperOS devices are API 26+; the Kotlin code uses try/catch as fallback. -->
    <uses-sdk tools:overrideLibrary="io.github.d4viddf.hyperisland_kit" />
    <application android:name="${applicationName}" android:label="Pergamen" tools:replace="android:label"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:enableOnBackInvokedCallback="false">

        <!-- Enable Impeller (Vulkan) -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="true" />

        <activity android:exported="true" android:name="app.pergamen.students.MainActivity"
            android:launchMode="singleTop" android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize"
            android:showWhenLocked="false"
            android:turnScreenOn="true">
            <meta-data android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />
            <meta-data android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <!-- Launcher filter moved to activity-alias MainActivityDefault -->
            <!-- Deep Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="folio" android:host="folio.zan1456.dev" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="folio.zan1456.dev"
                    android:pathPrefix="/app" />
            </intent-filter>
        </activity>

        <!-- Default Launcher Alias -->
        <activity-alias
            android:name=".MainActivityDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_dark"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_dark"
            android:roundIcon="@mipmap/ic_launcher_dark_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_light"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_light"
            android:roundIcon="@mipmap/ic_launcher_light_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_ocean"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ocean"
            android:roundIcon="@mipmap/ic_launcher_ocean_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_emerald"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_emerald"
            android:roundIcon="@mipmap/ic_launcher_emerald_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_mint"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_mint"
            android:roundIcon="@mipmap/ic_launcher_mint_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_ruby"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ruby"
            android:roundIcon="@mipmap/ic_launcher_ruby_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_coral"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_coral"
            android:roundIcon="@mipmap/ic_launcher_coral_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_sunset"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_sunset"
            android:roundIcon="@mipmap/ic_launcher_sunset_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_amber"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_amber"
            android:roundIcon="@mipmap/ic_launcher_amber_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_purple"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_purple"
            android:roundIcon="@mipmap/ic_launcher_purple_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_indigo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_indigo"
            android:roundIcon="@mipmap/ic_launcher_indigo_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_pink"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_pink"
            android:roundIcon="@mipmap/ic_launcher_pink_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_cyan"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_cyan"
            android:roundIcon="@mipmap/ic_launcher_cyan_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_amoled"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_amoled"
            android:roundIcon="@mipmap/ic_launcher_amoled_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_cyberpunk"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_cyberpunk"
            android:roundIcon="@mipmap/ic_launcher_cyberpunk_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_matrix"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_matrix"
            android:roundIcon="@mipmap/ic_launcher_matrix_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_retrowave"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_retrowave"
            android:roundIcon="@mipmap/ic_launcher_retrowave_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_aurora"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_aurora"
            android:roundIcon="@mipmap/ic_launcher_aurora_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_frost"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_frost"
            android:roundIcon="@mipmap/ic_launcher_frost_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivity_royal"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_royal"
            android:roundIcon="@mipmap/ic_launcher_royal_round"
            android:targetActivity="app.pergamen.students.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <meta-data android:name="flutterEmbedding" android:value="2" />

        <!-- WearOS capability declaration – watch app uses this to find the phone app -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <!-- Listens for sync-request messages from the WearOS watch -->
        <service
            android:name="app.pergamen.students.wear.PhoneWearListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/folio"
                    android:scheme="wear" />
            </intent-filter>
        </service>

    </application>

    <meta-data android:name="flutterEmbedding" android:value="2" />

    <!-- ── Permissions shared by ALL flavors ──────────────────────────── -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- ── Removed unconditionally (no flavor uses screen-capture projection) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"
        tools:node="remove" />

    <!-- ── GitHub-only permissions (storage + self-install) live in:
             src/github/AndroidManifest.xml
         ── Play Store removes them again as a safety net in:
             src/playstore/AndroidManifest.xml                          -->
</manifest>
